<!-- header -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Star Wars Characters</a>
  <form #form="ngForm" class="form-inline" (submit)="searchCharactersByName()">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Enter character name"
      aria-label="Search"
      name="searchBox"
      required
      [(ngModel)]="characterName"
      #search="ngModel"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" 
    type="submit"
    [disabled]="form.invalid"
    id="searchBtn">
      Search
    </button>
  </form>
</nav>
<!-- container -->
<div class="container-fluid">
  <!-- loading image -->
  <div *ngIf="loading">
    <img id="loadingImg" src="assets/loading.gif" alt="loading">
  </div>
  <!-- characters not found image -->
  <div *ngIf="!loading && charactersCount == 0">
    <img id="notFoundImg" src="assets/No-Characters.png" alt="no characters found">
  </div>
  <!-- characters cards from search result -->
  <div *ngIf="!loading" class="row" [sortablejs]="charactersByName">
    <div  *ngFor="let character of charactersByName" id="cardWrapper" class="col-12 col-sm-6 col-md-4">
      <div class="card bg-light mb-3">
        <div class="card-header">Name : <span class="badge badge-primary">{{character.name}}</span></div>
        <div class="card-body">
          <h5 class="card-title">Height : {{character.height}}</h5>
          <h6 class="card-title">Home World : {{character.homeworld}}</h6>
          <h6 class="card-title">URL : {{character.url}}</h6>
        </div>
      </div>
    </div>
  </div>

</div>
